# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# Ignore local database volume data globally
api-gateway/volume-data/
inventory-service/mysql/
**/mysql_keycloak_data/
**/mysql/

# Logs
logs/
*.log
*.gz

# Service-specific logs
**/logs/

# Build
target/
node_modules/

# OS
.DS_Store
Thumbs.db

# Env
.env


api-gateway/docker/tempo/tempo-data/